*{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
body{
    background-color: #ec8f8f;
}

#login{
    
    position: absolute;
    border: 2px solid black;
    display: inline-block;
    top:0%;
    left: 23%;
    width:440px;
    height: 330px;
    transform: translate(50%,50%);
    border-radius: 10px;
    background-color: rgb(224, 219, 212);
}
h1{
    text-align: center;
    margin:15px;
    border-bottom: 1px solid black;
}

form{
    padding:0 40px;
    box-sizing: border-box;
}

form .textfield{
    position: relative;
    border-bottom: 2px solid #8e1f1f;
    margin:30px 0;
}

.textfield input{
    width:100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
}
.textfield label{
    position: absolute;
    top: 30%;
    left:5px;
    color: #572323;
    transform: translateY(-50);
    font-size: 16px;
    
}
.login input {  
    margin-top: 10px;
    width: 52vh;
    height: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}